---
name: Release
on:
  release:
    types: published

jobs:
  cancel-previous-runs:
    name: Cancel Previous Runs
    runs-on: ubuntu-20.04
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.9.0
        with:
          access_token: ${{ github.token }}
  release:
    name: Release ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
          - windows-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.ref }}
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - uses: actions-rs/cargo@v1
        with:
          command: build
          args: --release
      - name: Upload Mac / Linus Binaries to release
        if: ${{ matrix.os != 'windows-latest' }} 
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: target/release/rewatch
          asset_name: rewatch-${{ matrix.os }}
          tag: ${{ github.ref }}
          overwrite: true
      - name: Upload Windows Binaries to release
        if: ${{ matrix.os != 'windows-latest' }} 
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: target/release/rewatch.exe
          asset_name: rewatch-${{ matrix.os }}
          tag: ${{ github.ref }}
          overwrite: true
