---
name: Release
on:
  push:
  release:
    types: published

jobs:
  cancel-previous-runs:
    name: Cancel Previous Runs
    runs-on: ubuntu-20.04
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.9.0
        with:
          access_token: ${{ github.token }}
  build:
    name: Release
    strategy:
      fail-fast: false
    runs-on: macos-latest
    env:
      RUST_BACKTRACE: "1"
      SCCACHE_GHA_ENABLED: "true"
      RUSTC_WRAPPER: "sccache"
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.ref }}
      - name: setup sccache
        uses: mozilla-actions/sccache-action@v0.0.3
        with:
          version: "v0.4.0"
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
      - name: Install zig
        uses: korandoru/setup-zig@v1
        with:
          zig-version: 0.10.1
      - name: Install Rust targets
        shell: bash
        run: |
          rustup target add x86_64-unknown-linux-gnu \
            aarch64-apple-darwin \
            x86_64-apple-darwin \
            x86_64-pc-windows-gnu
      - name: Install cargo zigbuild
        run: cargo install cargo-zigbuild
      - name: macOS - build universal2
        run: cargo zigbuild --target universal2-apple-darwin --release
      # Musl is more portable but also slower than gnu
      # - name: Linux - build x86_64 musl
      #   run: cargo zigbuild --target x86_64-unknown-linux-musl --release
      - name: Linux - build x86_64 gnu
        run: cargo zigbuild --target x86_64-unknown-linux-gnu --release
      - name: Windows - build x86_64 gnu
        run: cargo zigbuild --target x86_64-pc-windows-gnu --release
      - name: Move / Rename Artifacts
        run: |
          mv target/x86_64-unknown-linux-gnu/release/rewatch ./rewatch-linux
          mv target/universal2-apple-darwin/release/rewatch ./rewatch-macos
          mv target/x86_64-pc-windows-gnu/release/rewatch.exe ./rewatch-windows.exe

      - uses: actions/setup-node@v1
        with:
          always-auth: true
          registry-url: "https://registry.npmjs.org"

      - name: Publish
        if: success() && github.event.action == 'published'
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Publish Prerelease
        if: success() && github.event_name != 'pull_request' && !startsWith(github.ref, 'refs/tags/')
        run: |
          npm version prerelease -preid $(git rev-parse --short HEAD) -no-git-tag-version
          npm publish --tag=dev
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
